$darkblue: #252b42;
$lightblue: #8ec2f2;
$secondary: #ffff;
$primary: #bdbdbd;

h1 {
  color: $secondary;
}
h3 {
  color: $secondary;
}
hr {
  color: $secondary;
}
.links {
  height: 100%;
  background: $darkblue;
}
.last {
  background-color: $lightblue;
}

.down-links {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  color: #bdbdbd;
  line-height: 1.3;
  text-decoration: none;
}
